



/* Estilo del separador horizontal */
.separador {
  border-top: 5px solid #aca9a975; /* Cambia el grosor y el color de la línea según tus preferencias */
  margin: 20px 0; /* Añade margen arriba y abajo para separar otros elementos */
}

.contenedor {


margin-right: 5px;
margin-left: 12px;
}


.custom-iframe {
  width: 100%;
  height: 350px; /* Ajusta la altura según tus necesidades */

  
}

  

@media screen and (max-width: 768px) {


  .responsive-map {



    height: 200px; /* Ajusta la altura para pantallas pequeñas */
}

}


width: 100%;
height: 100%;
border: none;
position: absolute;
top: 0;
left: 0;